@media print
{
	.no-print { display: none!important; }
}

*
{
	border: none;
	outline: none;
}

.gallery
{
	div {
		display: inline;
		
		img {
			height: 100px;
			width: 150px;
			padding: 5px;
			margin: 5px;
			border: 2px solid #009587;
			background-color: #FFFFFF;
		}
	}
}

legend
{
	background-color: #DDDDDD;
	padding: 5px;
}

/**
 * Contact
 */
textarea { height: 100px; resize:none; }
