<div class="w3-container w3-teal">
    <h1>Contact Us</h1>
</div>

<p><strong>Company Name:</strong> {{contact.company}}</p>
<p><strong>Address:</strong> {{contact.address}}</p>
<p><strong>Phone:</strong> {{contact.phone}}</p>
<p><strong>Fax:</strong> {{contact.fax}}</p>

<div class="w3-card-4">
	<div class="w3-teal w3-container">
		<p>Send a message now!</p>
	</div>

	<div class="w3-padding">
		<p>Your full name:</p>
		<div>
			<input class="w3-input w3-border" type="text" placeholder="Full Name" required="" ng-model="form.fullname" />
		</div>
	</div>
	
	<div class="w3-padding">
		<p>Phone number or email address:</p>
		<div>
			<input class="w3-input w3-border" type="text" placeholder="Phone Number or Email Address" required="" ng-model="form.method" />
		</div>
	</div>
	
	<div class="w3-padding">
		<p>Your short message:</p>
		<div>
			<textarea class="w3-input w3-border" style="height: 100px; resize:none" placeholder="Your short message" ng-model="form.message"></textarea>
		</div>
	</div>
	
	{{form}}

	<div class="w3-padding">
		<div ng-hide="sent">
			<button class="w3-btn w3-teal" ng-click="contact_now()">Contact Now</button>
		</div>
		<div ng-show="sent" class="w3-padding w3-yellow">
			{{response}}
		</div>
	</div>
</div>
