<h1>Login</h1>

<p>Provide your agent credentials to continue...</p>
<fieldset>
    <legend>User Login</legend>
    <form method="post" action="login.php" autocomplete="off">
        <div>
            <div>Username:</div>
            <div>
                <input type="text" name="login[username]" value="" placeholder="username" />
            </div>
        </div>
        <div>
            <div>Password:</div>
            <div>
                <input type="password" name="login[password]" value="" placeholder="password" />
            </div>
        </div>
        <div>
            <input type="submit" name="submit" value="Login" />
            <a href="register.php">Register</a>
        </div>
        <div style="background-color: #DDDDDD; padding: 10px;">
            <p>Screen ID: User Login</p>
        </div>
    </form>
</fieldset>
