<div class="w3-container w3-teal">
    <h1>Login</h1>
</div>

<fieldset>
    <legend><p><strong>Screen ID:</strong> User Login</p></legend>
    <form name="login_form" method="post" action="login.php" autocomplete="off">
        <div>
            <div>Email:</div>
            <div>
                <input class="w3-input" type="email" name="credentials[email]" ng-model="credentials.email" value="" placeholder="email" required="" />
            </div>
        </div>
        <div>
            <div>Password:</div>
            <div>
                <input class="w3-input" type="password" name="credentials[password]" ng-model="credentials.password" value="" placeholder="password" required="" />
            </div>
        </div>

		{{credentials}}

        <div>
            <a class="w3-btn w3-teal" ng-click="login()">Login</a>
            <a ui-sref="register({})">Register</a>
        </div>
    </form>
</fieldset>
