<div class="w3-container w3-teal">
    <h1>Register</h1>
</div>

<fieldset>
    <legend>User Registration</legend>
    <form name="registration_form" method="post" action="registration.php" autocomplete="off">
        <div>
            <div>Email:</div>
            <div>
                <input class="w3-input" type="email" name="registration[email]" ng-model="registration.email" value="" placeholder="email" required="" />
            </div>
        </div>
		{{registration}}
        <div>
            <a class="w3-btn w3-teal" ng-click="register(registration)">Register</a>
            <a class="w3-btn w3-red w3-right" ui-sref="login({})">Login</a>
        </div>
        <div style="background-color: #DDDDDD; padding: 10px;">
            <p><strong>Screen ID:</strong> User Registration</p>
        </div>
    </form>
</fieldset>
